html,body,document {
    padding: 0;
    margin: 0;
    width: 100%;
}

.landscape {
    background-color: #0CA5D1;
    width: 100%;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: fixed;
    z-index: 0;
}

.content {
    height: 2000px;
    z-index: 1;
    position:relative;
    background: white;
}

.clouds {
    position:absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.city {
    bottom: 0;
    position: absolute;
    left: 0;
}

.beach {
    bottom: 0;
    position: absolute;
    right: 0;
}

.cloud {
    width: 200px; 
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute; 
    box-shadow: 2px 2px 5px #c3c3c3;
}

.x1 {
    z-index: 2;
}

.x2 {
    z-index: 4;
}

.x1 {
    z-index: 6;
}

.x1 {
    z-index: 8;
}

.footer {
    background: #0175A4;
    height: 300px;
    width: 100%;
}