html,body,document {
    padding: 0;
    margin: 0;
    width: 100%;
}

.main_wrapper {
    width: 100%;
    min-width: 500px;
    overflow: hidden;
}

.logo {
    position: fixed;
    margin-left: -126px;
    left: 50%;
    margin-top: 50px;
}

.nav {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    height: 62px;
    line-height: 62px;
}

.nav-mobile {
    min-width: 500px;
    display: none;
}

.nav-content {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.nav > div {
    font-size: 20px;
    color: #fff;
}

.nav-resume {
    float: left;
}

.nav-top {
    float: left;
    margin-right: 10%;
}

.nav-samples {
    float: right;
    margin-right: 10%;
}

.nav-contact {
    float: right;
}

.landscape {
    background-color: #0CA5D1;
    width: 100%;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    z-index: 0;
}

.left-landscape {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.right-landscape {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}

.left-landscape > div, .right-landscape > div {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
}

.cloud0 {
    background-image: url('../img/cloud0.png');
    height: 100px;
    width: 156px;
    bottom: 50%;
    left: 2%;
}

.cloud1 {
    background-image: url('../img/cloud1.png');
    width: 217px;
    height: 126px;
    bottom: 65%;
    left: 15%;
}

.cloud2 {
    background-image: url('../img/cloud2.png');
    width: 182px;
    height: 111px;
    bottom: 60%;
    left: 48%;
}

.cloud3 {
    background-image: url('../img/cloud3.png');
    width: 156px;
    height: 95px;
    right: 60%;
    bottom: 65%;
}

.cloud4 {
    background-image: url('../img/cloud4.png');
    width: 222px;
    height: 115px;
    right: 36%;
    bottom: 53%;
}

.cloud5 {
    background-image: url('../img/cloud5.png');
    width: 94px;
    height: 62px;
    right: 26%;
    bottom: 70%;
}

.cloud6 {
    background-image: url('../img/cloud6.png');
    width: 158px;
    height: 96px;
    right: 2%;
    bottom: 50%;
}

.ground {
    width: 80%;
    height: 35px;
    background-color: #3C4D5D;
    border-radius: 13px;
    bottom:0;
    left: 2%;
}

.building {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
}

.building0 {
    background-image: url('../img/building0.png');
    bottom: 35px;
    left: 5%;
    width: 77px;
    height: 526px;
}

.building1 {
    background-image: url('../img/building1.png');
    bottom: 35px;
    left: 17%;
    width: 193px;
    height: 426px;
}

.building2 {
    background-image: url('../img/building2.png');
    bottom: 35px;
    left: 48%;
    width: 77px;
    height: 283px;
}

.sun {
    background-image: url('../img/sun.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 116px;
    width: 117px;
    bottom: 60%;
    left: 7%;
}

.sand {
    width: 80%;
    height: 35px;
    background-color: #FCCC10;
    border-radius: 13px;
    position: absolute;
    bottom:0;
    right: 2%;
}

.palmtree0 {
    background-image: url('../img/palmtree0.png');
    height: 294px;
    width: 219px;
    bottom: 35px;
    right: 48%;
}

.palmtree1 {
    background-image: url('../img/palmtree1.png');
    height: 465px;
    width: 316px;
    bottom: 35px;
    right: 17%;
}

.surfboard {
    background-image: url('../img/surfboard.png');
    height: 359px;
    width: 127px;
    bottom: 35px;
    right: 5%;
}


.content {
    height: auto;
    z-index: 1;
    position:relative;
    background: white;
}

.resume {
    padding-top: 50px;
    clear: both;
}

.resume h2 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 30px;
}

.resume .job-wrapper {
    background-color: #F1F1F1;
    margin-bottom: 50px;
}

.resume .job {
    height: 300px;
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
}

.resume .job .company-logo {
    width: 40%;
    height: 250px;
    margin-top: 25px;
    text-align: center;
    float: left;
}

.resume .job .job-desc {
    width: 30%;
    height: 250px;
    margin-top: 25px;
    float: left;
    padding: 0;
}

.resume .job ul.job-desc {
    list-style: none;
    padding-left: 10%;
}

.resume .company {
    font-size: 24px;
    font-weight: bold;
}

.resume .job-title {

}

.resume .job-details {
    
}

.samples-wrapper {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    clear: both;
    height: 550px;
}

.samples-container {
    width: 33%;
    float: left;
}

.samples .sample {
    height: 200px;
    background: #DDF1F2;
    box-sizing: border-box;
    border-radius: 30px;
    border: 20px solid white;
}

.samples-container h3 {
    text-align: center;
    margin: 0;
}

.samples-container p {
    text-align: center;
    margin: 5px;
}

.samples h2 {
    text-align: center;
    margin: 60px;
    font-weight: 400;
}


.contact {
    width: 100%;
    position: relative;
    top: 100px;
    margin-top: -100px;
}

.contact-form {
    clear: both;
    width: 67%;
    border-radius: 30px;
    background: #DDF1F2;
    margin: 0 auto;
    height: 505px;
}

.contact-left, .contact-right {
    width: 50%;
    float: left;
    height: 505px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 40px solid #DDF1F2;
    position: relative;
    border-radius: 30px;
}

.contact-form input, .contact-form textarea {
    clear: both;
    display: block;
    margin-bottom: 20px;
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B5BEBD;
    font-size: 15px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.0),
            0 0 16px rgba(0,0,0,0.0); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.0),
            0 0 16px rgba(0,0,0,0.0); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.0),
            0 0 16px rgba(0,0,0,0.0);
}

.contact-form textarea {
    height: 240px;
}

button {
    background: #0CA5CF;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
}

.contact h2 {
    text-align: center;
    margin: 60px;
    font-weight: 400;
}

.footer {
    background: #0175A4;
    height: 500px;
    width: 100%;
    position: relative;
}

.footer > div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.footer .reef {
    background-image: url('../img/reef.png');
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: bottom;
    bottom: 0;
}

.star0 {
    background-image: url('../img/star0.png');
    width: 88px;
    height: 85px;
    position: absolute;
    bottom: 190px;
    left: 15%;
}

.fish0 {
    background-image: url('../img/fish.png');
    width: 88px;
    height: 85px;
    position: absolute;
    bottom: 80px;
    left: 25%;
}

.seahorse {
    background-image: url('../img/seahorse.png');
    width: 141px;
    height: 193px;
    position: absolute;
    bottom: 40px;
    left: 37%;
}

.shark {
    background-image: url('../img/shark.png');
    width: 521px;
    height: 196px;
    position: absolute;
    bottom: 190px;
    left: 50%;
}

.fish1 {
    background-image: url('../img/fish1.png');
    width: 68px;
    height: 68px;
    position: absolute;
    bottom: 190px;
    right: 2%;
}

@media only screen and (max-width:1200px) {
    .samples-wrapper {
	height: 800px;
    }

    .samples-container {
	width: 50%;
    }
}

@media only screen and (max-width:900px) {
    .nav {
	display: none;
    }

    .nav-mobile {
	display: block;
	position: fixed;
	z-index: 10;
    }

    .nav-mobile ul {
	list-style: none;
	color: white;
	padding: 0;
	margin-left: 50px;
	transition: 1s linear;
	display: none;
    }

    .nav-mobile ul li {
	margin-bottom: 10px;
    }

    .hamburger {
	width: 40px;
	margin-top: 70px;
	margin-left: 50px;
    }

    .hamburger hr {
	border: 2px #fff solid;
	margin-to: 5px;
    }

    .samples-wrapper {
	height: 1540px;
    }

    .samples-container {
	width: 100%;
    }
}