html,body,document {
    padding: 0;
    margin: 0;
    width: 100%;
}

.main_wrapper {
    width: 100%;
    min-width: 500px;
}

.logo {
    position: fixed;
    margin-left: -118px;
    left: 50%;
    margin-top: 50px;
}

.nav {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    height: 62px;
    line-height: 62px;
}

.nav-mobile {
    min-width: 500px;
    display: none;
}

.nav-content {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.nav > div {
    font-size: 20px;
    color: #fff;
}

.nav-resume {
    float: left;
}

.nav-top {
    float: left;
    margin-right: 10%;
}

.nav-samples {
    float: right;
    margin-right: 10%;
}

.nav-contact {
    float: right;
}

.landscape {
    background-color: #0CA5D1;
    width: 100%;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    z-index: 0;
}

.content {
    height: auto;
    z-index: 1;
    position:relative;
    background: white;
}

.clouds {
    position:absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.city {
    bottom: 0;
    position: absolute;
    left: 0;
}

.beach {
    bottom: 0;
    position: absolute;
    right: 0;
}

.cloud {
    width: 200px; 
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute; 
    box-shadow: 2px 2px 5px #c3c3c3;
}

.x1 {
    z-index: 2;
}

.x2 {
    z-index: 4;
}

.x1 {
    z-index: 6;
}

.x1 {
    z-index: 8;
}

.resume {
    padding-top: 50px;
    clear: both;
}

.resume h2 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 30px;
}

.resume .job-wrapper {
    background-color: #F1F1F1;
    margin-bottom: 50px;
}

.resume .job {
    height: 300px;
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
}

.resume .job .company-logo {
    width: 40%;
    height: 250px;
    margin-top: 25px;
    text-align: center;
    float: left;
}

.resume .job .job-desc {
    width: 30%;
    height: 250px;
    margin-top: 25px;
    float: left;
    padding: 0;
}

.resume .job ul.job-desc {
    list-style: none;
    padding-left: 10%;
}

.resume .company {
    font-size: 24px;
    font-weight: bold;
}

.resume .job-title {

}

.resume .job-details {
    
}

.samples-wrapper {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    clear: both;
    height: 550px;
}

.samples-container {
    width: 33%;
    float: left;
}

.samples .sample {
    height: 200px;
    background: #DDF1F2;
    box-sizing: border-box;
    border-radius: 30px;
    border: 20px solid white;
}

.samples-container h3 {
    text-align: center;
    margin: 0;
}

.samples-container p {
    text-align: center;
    margin: 5px;
}

.samples h2 {
    text-align: center;
    margin: 60px;
    font-weight: 400;
}


.contact {
    width: 100%;
    position: relative;
    top: 100px;
    margin-top: -100px;
}

.contact-form {
    clear: both;
    width: 67%;
    border-radius: 30px;
    background: #DDF1F2;
    margin: 0 auto;
    height: 505px;
}

.contact-left, .contact-right {
    width: 50%;
    float: left;
    height: 505px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 40px solid #DDF1F2;
    position: relative;
    border-radius: 30px;
}

.contact-form input, .contact-form textarea {
    clear: both;
    display: block;
    margin-bottom: 20px;
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B5BEBD;
    font-size: 15px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.0),
            0 0 16px rgba(0,0,0,0.0); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.0),
            0 0 16px rgba(0,0,0,0.0); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.0),
            0 0 16px rgba(0,0,0,0.0);
}

.contact-form textarea {
    height: 240px;
}

button {
    background: #0CA5CF;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
}

.contact h2 {
    text-align: center;
    margin: 60px;
    font-weight: 400;
}

.footer {
    background: #0175A4;
    height: 400px;
    width: 100%;
}

@media only screen and (max-width:1200px) {
    .samples-wrapper {
	height: 800px;
    }

    .samples-container {
	width: 50%;
    }
}

@media only screen and (max-width:900px) {
    .nav {
	display: none;
    }

    .nav-mobile {
	display: block;
	position: fixed;
    }

    .nav-mobile ul {
	list-style: none;
	color: white;
	padding: 0;
	margin-left: 50px;
	transition: 1s linear;
	display: none;
    }

    .nav-mobile ul li {
	margin-bottom: 10px;
    }

    .hamburger {
	width: 40px;
	margin-top: 70px;
	margin-left: 50px;
    }

    .hamburger hr {
	border: 2px #fff solid;
	margin-to: 5px;
    }

    .samples-wrapper {
	height: 1540px;
    }

    .samples-container {
	width: 100%;
    }
}